<h1>个人信息</h1>
<p>
  <strong>学号为：</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>姓名为：</strong>
  <%= @student.name %>
</p>

<p>
  <strong>所在学院为：</strong>
  <%= @student.college.name %>
</p>

<p>
  <strong>邮箱为：</strong>
  <%= @student.email %>
</p>