<%= form_tag("/groups/#{@group.id}", method: "put") do %>
  <p>
    <strong>选择指导老师：</strong>
    <%= select_tag(:teacher_id, options_for_select(
        @select_array
    )) %>
  </p>
  <%= hidden_field_tag :group_id, @group.id %>
  <%= submit_tag("提交") %>
<% end %>
