<!-- Page Content -->
<div class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase" style="font-size: 300%">
          <br>
          <strong>学生竞赛管理系统</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <br><br><br><br>
        <a class="btn btn-info btn-xl js-scroll-trigger" href="client_login" style="font-size: 130%">学生入口</a><br><br>
        <a class="btn btn-info btn-xl js-scroll-trigger" href="admin_login" style="font-size: 130%">管理员入口</a>
      </div>
    </div>
  </div>
</div>