<div class="container">
  <h1 align="center">学院详情</h1>

  <table class="table">
  <tr>
    <th class="text-right">
  <strong>学院名为：</strong>
    </th>
    <td>
  <%= @college.name %>
    </td>
  </tr>
  </table>

  <div class="row">
    <div class="col-md-5"></div>
    <%= link_to '返回学院列表', colleges_path, class: "btn btn-primary col-md-2" %>
  </div>

</div>
